<div class = "space"></div>
<% @poems.each do |poem| %>
  <div class="card mb-3" style="max-width: 2000px">
      <div class="row no-gutters">
          <div class=" col-md-4 my-auto">
              <%= image_tag poem.display_image if poem.image.attached?  %>
          </div>
          <div class="col-md-8">
              <div class="text-body card-body">
                  <p><%= poem.body %></p>
                  <h5><%= poem.created_at.strftime("%Y-%m-%d") %></h5>
                  <div class = "fav">
                    <% if current_user.already_favorited?(poem) %>
                      <%= link_to poem_favorites_path(poem), method: :delete do %>
                        <i class="fas fa-heart"></i>
                      <% end %>
                      <%= poem.favorites.count %>
                    <% else %>
                      <%= link_to poem_favorites_path(poem), method: :post do %>
                        <i class="far fa-heart"></i>
                      <% end %>
                      <%= poem.favorites.count %>
                    <% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>
<% end %>
<div class="button001">
	<a href="#">最初に戻る</a>
</div>

