<div class = "poem-new">
  <p>匿名で、情緒を詩に、風景と共に。<br>太宰のことばを借りるもよし、自分の情緒を詠うもよし</p>
  <%= form_for @poem do |f| %>
    <div class = "picture-label">
      <%= f.label :写真 %>
    </div>
    <div class = "picture-space">
      <%= f.attachment_field :image %>
    </div>
    <div class = "poem-title">
      <%= f.label :詩 %>
    </div>
    <div class = "poem-body">
      <%= f.text_area :body %>
    </div>
   
    <%= f.submit  %>
  <% end %>
</div>