<!DOCTYPE html>
<html>
  <head>
    <title>Poemworld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <!--<p class="notice"><%= notice %></p>-->
    <!--<p class="alert"><%= alert %></p>-->
 
    
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <% if user_signed_in? %>
          <%= link_to "風景と詩", root_path, id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "作詩",  new_poem_path  %></li>
              <li><%= link_to "退出", destroy_user_session_path, method: :delete %></li>
            </ul>
          </nav>
        <% else %>
          <%= link_to "風景と詩", home_path, id: "logo" %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "登録",  new_user_registration_path %></li>
            <li><%= link_to "入室", user_session_path %></li>
          </ul>
        <% end %>
        
      </div>
    </header>
    <%= yield %>
  </body>
</html>
